@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

body {
    background-color: rgb(230, 230, 230);
    font-family: "BBH Bartle", sans-serif;
    font-weight: normal;
    font-style:normal;
}

button {
    border-radius: 10px;
    border:outset;
    border-color: rgba(99, 99, 99, 0.418);
    cursor: pointer;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.349);
    
}

button:hover {
    opacity: 0.6 ;
    color: rgb(255, 40, 40);
}
button:active {
    opacity: 0.4;
}

.body {
    background: rgb(221, 221, 221);
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto; 
    width:auto;
    max-width: 300px;
    min-width: 230px;  
    height: 400px;
    border-radius: 20px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.349);
    /* aspect-ratio: 3 / 4; */
}
/* .numberBtn {
    width: 50px;
    height: 50px;  
} */

.rightBtn {
    width: 50px;
    height: 25px;
    margin-left: 0%;
    margin-top: 30px;
}
.outputWindow {
    background: rgb(170, 170, 170);
    border-radius: 10px;
    display: flex;
    justify-content: left;
    border: 2px solid rgb(146, 106, 45);
    margin-left: 0px;
    margin-top: 10px;
    padding: 0;
    width: 154px;  
    height: 40px; 
}

.dispbox {
    position: relative;
    display: flex; 
    justify-content: center;
}

.btndispbox {
     position: absolute;
    /* display: flex; */
    justify-content: center;
    bottom: 0;
    top: 16%;
    /* left:7.1%; */
    padding: 4px rgb(146, 92, 11);
    /* background: red; */
    width: 90%;
    height: 90%;
}

.btnblock {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    padding-top: 5%;
    /* background: red; */
    width: 100%;
}



 /* .display {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(170, 170, 170);
    border: none;
    border-radius: 10px;
    width: 96%;
    height: 90%;
    text-align: left;
    font-size: 20px; 
    
}   */


.miniBody {
    border: 2px solid rgb(0, 255, 21);
     display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.btngray button {
    padding: 0;
    background: rgb(190, 190, 190);
}

.btnorange {
    background: rgb(219, 104, 38);
}

.btnblack {
    background: rgb(29, 29, 29);
}



.name {
    padding: 4px red;
    position: absolute;
    top: 20px;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 130%;
    font-weight:100;
}


/* .btnblock {
    background: red;
    width: 100%;
    display: flex;
    justify-content: center;
}  */



.btnblock button {
    width: 50px;
    height: 50px;
}
 

@media (prefers-color-scheme: dark) {
    .body {
        background: rgb(82, 82, 82);
        }
    .outputWindow {
        background: rgb(139, 139, 139);
        border: 2px solid rgb(128, 52, 52);
    }
    .btngray button {
        background: rgb(66, 66, 66);
    }
    .name {
        color: rgb(192, 192, 192);
    } 
    body {
        background-color: rgb(68, 68, 68);
    }
}

 @media (max-width: 500px) {  
 .body {
    margin-top: 25vh;
  }
} 

 @media (max-width: 240px) {  
body {
    display: flex;
    justify-content: center;
}
 .body {
    min-width: none;
    margin-top: 25vh;
    scale:0.7;
  }
} 

