button {
    border-radius: 10px;
    border:outset;
    border-color: rgba(99, 99, 99, 0.418);
    cursor: pointer;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.349);
    
}

button:hover {
    opacity: 0.5 ;
    color: rgb(255, 40, 40);
}

.body {
    background: rgb(221, 221, 221);
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto; 
    width: 300px;  
    height: 400px;
    border-radius: 20px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.349);
}
.numberBtn {
    width: 50px;
    height: 50px;  
}

.rightBtn {
    width: 50px;
    height: 25px;
    margin-left: 0%;
    margin-top: 30px;
}
.outputWindow {
    display: flex;
    justify-content: left;
    border: 2px solid blue;
    margin-left: 0px;
    margin-top: 10px;
    width: 154px;  
    height: 40px;
}
.miniBody {
    border: 2px solid rgb(0, 255, 21);
     display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.btngray button {
    padding: 0;
    background: rgb(190, 190, 190);
}

.btnorange button {
    background: rgb(219, 104, 38);
}

.btnblack {
    background: rgb(29, 29, 29);
}

.btndispbox {
    position: absolute;
    bottom: 0;
    left:7.1% ;
    padding: 4px rgb(146, 92, 11);
    /* background: red; */
    width: 90%;
    height: 90%;
}

.name {
    position: absolute;
    top: 20px;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 10;
    font-weight:100;
}