.body {
    display: flex;
    justify-content: center;
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto; 
    width: 300px;  
    height: 400px;
}
.numberBtn {
    width: 50px;
    height: 50px;  
}

.rightBtn {
    width: 50px;
    height: 25px;
    margin-left: 0%;
    margin-top: 30px;
}
.outputWindow {
    display: flex;
    justify-content: left;
    border: 2px solid blue;
    margin-left: 0px;
    margin-top: 10px;
    width: 154px;  
    height: 40px;
}
.miniBody {
    border: 2px solid rgb(0, 255, 21);
     display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}