.body {
    display: flex;
    justify-content: center;
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto; 
    width: 300px;  
    height: 400px;
}
.numberBtn {
    display: flex;
    width: 70px;
    height: 70px;
    
}